---
import "../styles/global.css";
import "../styles/fonts.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-stone-100 sm:cursor-none">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="I primarily focus on TypeScript-based full-stack projects (Node.js,
          React, React Native) and cloud platforms (AWS, DigitalOcean, Vercel,
          Firebase, etc.), serving as a Full Stack Engineer."
    />
    <meta
      name="keywords"
      content="full stack engineer, web developer, React, Node.js, JavaScript, TypeScript, cloud computing, software engineering"
    />
    <meta name="author" content="Andriy Kuktenko" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.kuktenko.dev">
    <meta property="og:title" content="Andriy Kuktenko | Full Stack Engineer">
    <meta property="og:description" content="Experienced full stack engineer specializing in scalable web applications. Check out my portfolio and let's build something amazing together!">
    <meta property="og:image" content="/images/theme.webp">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <link rel="canonical" href="https://www.kuktenko.dev">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script src="../scripts/main.ts"></script>
  </body>
</html>
